[submodule "lib/Radio"]
	path = lib/Radio
	url = https://github.com/Lukas0025/Radio
[submodule "lib/RadioLib"]
	path = lib/RadioLib
	url = https://github.com/jgromes/RadioLib
[submodule "lib/SSDO"]
	path = lib/SSDO
	url = https://github.com/Lukas0025/SSDO
[submodule "lib/ESPAsyncWebServer"]
	path = lib/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
[submodule "lib/AsyncTCP"]
	path = lib/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP
